<% include ../common/header %>

<body class="cyan grey darken-4">
		<div class="col s10 offset-s1 m8 offset-m2 l4 offset-l4 z-depth-4 card-panel grey lighten-4 hoverable loginCard">
			<div class="card-content">
				<div class="card-title">
					<div class="row">
						<div class="input-field col s12 center">
							<p class="center login-form-text"><h3>Erro 404</h3></p>
							<h2>Ops... Essa página não existe!</h2>
							<h4>Clique <a href="/">aqui</a> para voltar a pagina anterior.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>